<ion-header class="ion-no-border">
  <div class="sign-btn-wrap4">
    <ion-button shape="round" fill="clear" (click)="inicio()">
      <ion-icon
        name="arrow-back"
        color="light"
        style="width: 25px; height: 25px"
      ></ion-icon>
    </ion-button>
  </div>
</ion-header>

<ion-content class="background">
  <ion-card style="margin-top: 35%">
    <ion-card-header>
      <ion-card-title> ¿Olvidaste tu contraseña? </ion-card-title>
      <ion-card-subtitle>
        Escribe tu correo electrónico para recuperar la contraseña
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form
        [formGroup]="ValidationFormUSer"
        (ngSubmit)="registerUser(ValidationFormUSer.value)"
      >
        <ion-card-content>
          <ion-item>
            <ion-input
              name="email"
              type="text"
              placeholder="Por favor ingresa tu correo"
              formControlName="email"
            >
              <ion-icon name="mail-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationMessages.email">
            <div
              class="error_message"
              *ngIf="ValidationFormUSer.get('email').hasError(validation.type) && (ValidationFormUSer.get('email').dirty || ValidationFormUSer.get('email').touched)"
            >
              {{validation.message}}
            </div>
          </ng-container>
        </ion-card-content>
      </form>
    </ion-card-content>
  </ion-card>
  <div class="sign-btn-wrap">
    <ion-button
      shape="round"
      type="submit"
      fill="solid"
      class="sign-btn"
      [disabled]="!ValidationFormUSer.valid"
      (click)="registerUser(ValidationFormUSer.value)"
      >Enviar</ion-button
    >
  </div>
</ion-content>
